/* Custom code blocks */
/* center this block, and define a max width */
.long-text-pic {
    background-color: #ea8a08;
    text-align: center;

    .container {
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
        max-width: 1200px;
    }
}

.long-text-pic .text {
    margin-top: auto;
    margin-left: 50px;
    margin-right: 50px;
    /* margin: auto 50px; */
}

.long-text-pic p {
    margin: 0;
}

.app-name {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.app-subtitle {
    font-size: 20px;
    text-align: center;
}

#quarto-content>* {
    padding: 0;
}

.app-link {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 0px, 20px; */
    margin-top: 40px;
    margin-bottom: 20px;
}

.app-link-item {
    margin: auto 10px;
}

.qrcode img {
    width: 100px;
}

.app-image {
    margin: 20px 10px;
}


.long-text-pic .support {
    font-size: 14px;
    margin-bottom: 30px;
}
