{% comment %} Books I Enjoyed {% endcomment %}
<div class="page-content">
  <div class="collection-container">
  {% for member in site.data.books %}
      <div class="collection-item box-shadow-large rounded-1">
          <div class="collection-item-inner">
            <div class="collection-item_img">
              <div class="collection-item-img-link">
                  <span>
                    <a href="{{ member.goodreads_url }}" id="collection-item-img-link" target="_blank">goodreads</a>
                  </span>
                  <br>
                  <span>
                    <a href="{{ member.amazon_url }}" id="collection-item-img-link" target="_blank">amazon</a>
                  </span>
              </div>
              <img src="{{ member.img_url }}" alt="{{ member.title }}">
            </div>
            <div class="collection-item_description">
              <div class="collection-item-name">
                {{ member.title }}
              </div>
              {%- if member.subtitle -%}
                <div class="collection-item-subtitle">{{ member.subtitle }}</div>
              {%- endif -%}
              <div class="collection-item-quotes">
              {{ member.description }}
              </div>
            </div>
          </div>
      </div>
  {% endfor %}
  </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>