/* css styles */
/* In Brief */
.content .article-in-brief {
    border-bottom: 1px dotted #b2b2b2;
    padding-bottom: 40px;
    margin-bottom: 70px;
    margin-top: 40px;
}
.content .hr-titles {
    position: relative;
    margin: 10px 0;
    text-align: center;
    line-height: 15px;
}
.content .hr-titles span {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.22222;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    position: relative;
    display: inline-block;
    padding: 0 27px;
    height: 15px;
    border-right: 1px solid #999;
    border-left: 1px solid #999;
    background: #fff;
    vertical-align: top;
    line-height: 15px;
}
.content .hr-titles:before {
    position: absolute;
    top: 5px;
    right: 0;
    left: 0;
    z-index: -1;
    height: 2px;
    background: #000;
    content: '';
}
.content .hr-titles:after {
    position: absolute;
    top: 9px;
    right: 0;
    left: 0;
    z-index: -1;
    height: 1px;
    border-bottom: 1px dotted #999;
    content: '';
}
.content .article-in-brief__title {
    margin-bottom: 40px;
}
.content .article-in-brief__content {
    justify-content: left;
}
.content .article-in-brief__content ul {
    margin: 0 0 0 20px;
}
.content .article-in-brief__content ul li:not(:last-child) {
    margin-bottom: 20px;
}


/* collections */
div.collection-container {
	 max-width: 1200px !important;
	 margin: auto !important;
	 display: flex;
	 flex-wrap: wrap;
	 flex-direction: column;
}
 div.collection-item {
	 margin-bottom: 20px;
	 padding: 5px 5px 5px 5px !important;
	 min-width: 440px;
	 flex-grow: 1;
	 display: flex;
}
 div.collection-item .collection-item-inner {
	 padding: 10px;
	 display: flex;
	 width: 100%;
	 max-height: 300px;
}
 @media (max-width: 500px) {
	 div.collection-item .collection-item-inner {
		 max-height: 226px;
	}
}
 div.collection-item_img {
	 padding-left: 0;
	 flex: 1;
	 max-width: 180px;
	 min-width: 180px;
	 vertical-align: middle;
	 position: relative;
	 display: flex;
	 align-items: stretch;
}
 @media (max-width: 500px) {
	 div.collection-item_img {
		 min-width: 130px;
		 height: 200px;
	}
}
 div.collection-item_img img {
	 object-fit: fill;
}
 div.collection-item_img .collection-item-img-link {
	 display: flex;
	 align-items: center;
	 flex-direction: column;
	 align-content: center;
	 justify-content: center;
	 position: absolute;
	 top: 0;
	 bottom: 0;
	 right: 0;
	 left: 0;
}
 div.collection-item_img .collection-item-img-link span {
	 display: none;
	 text-align: center;
}
 div.collection-item_img .collection-item-img-link:hover {
	 background-color: rgba(0, 0, 0, 0.514);
}
 div.collection-item_img .collection-item-img-link:hover span {
	 display: inline;
	 color: white;
}
 div.collection-item_img .collection-item-img-link:hover span a {
	 display: inline;
	 color: white;
}
 div.collection-item_img .collection-item-img-link:hover span:hover {
	 font-weight: bold;
}
 div.collection-item_description {
	 flex-direction: column;
	 justify-content: center;
	 align-items: center;
	 flex: 2;
	 padding-left: 5%;
	 padding-right: 3%;
}
 div.collection-item_description .collection-item-name {
	 width: 100%;
	 justify-content: center;
	 font-size: 24px;
	 font-weight: bold;
	 margin-top: 3%;
}
 @media (max-width: 500px) {
	 div.collection-item_description .collection-item-name {
		 font-size: 18px;
	}
}
 div.collection-item_description .collection-item-subtitle {
	 width: 100%;
	 justify-content: center;
	 font-weight: 500;
	 font-size: 20px;
	 line-height: 110%;
}
 @media (max-width: 500px) {
	 div.collection-item_description .collection-item-subtitle {
		 font-size: 18px;
	}
}
 div.collection-item_description .collection-item-quotes {
	 width: 100%;
	 font-size: 18px;
	 text-align: left;
	 padding-top: 7%;
}
 @media (max-width: 500px) {
	 div.collection-item_description .collection-item-quotes {
		 font-size: 16px;
	}
}
 button.mfp-close {
	 overflow: visible;
	 cursor: pointer;
	 background: white;
	 border: 0;
	 -webkit-appearance: none;
	 display: block;
	 outline: 0;
	 padding: 0;
	 z-index: 1046;
	 box-shadow: none;
}
 .mfp-close {
	 width: 44px;
	 height: 44px;
	 border-radius: 50px;
	 line-height: 44px;
	 position: absolute;
	 right: 40px;
}
 iframe {
	 margin-left: 0px;
}
 #video-link-mobile {
	 display: none;
}
 #video-link {
	 display: block;
}
 @media only screen and (max-width: 900px) {
	 #video-link-mobile {
		 display: block;
	}
	 #video-link {
		 display: none;
	}
}
