div.collection-container {
    max-width: 1200px !important;
    margin: auto !important;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

div.collection-item {
    margin-bottom: 20px;
    padding: 5px 5px 5px 5px !important;
    min-width: 440px;
    flex-grow: 1;
    display: flex;
    // background-color: $pane-color;
    .collection-item-inner {
        // margin: 0px;
        padding: 10px;
        // border-color: $pane-border-color;
        // border-style: solid;
        display: flex;
        width: 100%;
        max-height: 300px;
        @media (max-width: 500px) {
            max-height: 226px;
        }
    }
}

div.collection-item_img {
    padding-left: 0;
    flex: 1;
    max-width: 180px;
    min-width: 180px;
    @media (max-width: 500px) {
        min-width: 130px;
        height: 200px;
    }
    vertical-align: middle;
    position: relative;
    display: flex;
    // flex-direction: column;
    align-items: stretch;
    img {
        object-fit: fill;
        // max-height: 242px;
    }
    .collection-item-img-link {
        display: flex;
        align-items: center;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        span {
            display: none;
            text-align: center;
        }
    }
    .collection-item-img-link:hover {
        background-color: rgba(0, 0, 0, 0.514);
        span {
            display: inline;
            color: white;
            a {
                display: inline;
                color: white;
            }
        }
        span:hover {
          font-weight: bold;
        }
    }
 }


div.collection-item_description {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 2;
    padding-left: 5%;
    padding-right: 3%;
    .collection-item-name {
        width: 100%;
        justify-content: center;
        font-size: 16px;
        font-weight: bold;
        margin-top: 3%;
        @media (max-width: 500px) {
            font-size: 13px;
        }
    }
    .collection-item-subtitle {
        width: 100%;
        justify-content: center;
        font-weight: 500;
        font-size: 15px;
        line-height: 110%;
        @media (max-width: 500px) {
            font-size: 12px;
        }
    }
    .collection-item-quotes {
        width: 100%;
        font-size: 15px;
        text-align: left;
        padding-top: 7%;
        @media (max-width: 500px) {
            font-size: 12px;
        }
    }
}


// for trailer pop-ups
button.mfp-close {
  overflow: visible;
  cursor: pointer;
  background: white;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: 0;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
}

.mfp-close {
  width: 44px;
  height: 44px;
  border-radius: 50px;
  line-height: 44px;
  position: absolute;
  right: 40px;
}

iframe {
  margin-left: 0px;
}


#video-link-mobile{
  display: none;
}
#video-link{
  display: block;
}
@media only screen
  and (max-width : 900px)
{
  #video-link-mobile{
      display: block;
  }

  #video-link{
      display: none;
  }
}